# Linux
.directory
*~

# macOS
.DS_Store*
Icon?
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows
desktop.ini

# Node.js
node_modules

# NPM
npm-debug.log

# VS Code
.vscode

# Package-specific
lib